body{
    font-family: Arial, sans-serif;
    background:#f4f6f8;
    margin:20px;
}

header{
    background:#2c3e50;
    color:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:25px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    margin-bottom:25px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

th{
    background:#34495e;
    color:white;
    padding:10px;
}

td{
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
}

tr:nth-child(even){
    background:#f9f9f9;
}

.logout{
    float:right;
    color:white;
    text-decoration:none;
    font-weight:bold;
}